@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

body {
  font-family: 'Roboto Slab', sans-serif;
  color: rgb(44, 41, 44);
  background-color: rgb(233, 244, 247);
}

#main-header {
  background-color: rgb(91, 194, 231);
  color: white;
  padding: 2rem 5%;
  text-align: center;
}

.btn {
  padding: 0.5rem 1.5rem;
  background-color: rgb(91, 194, 231);
  border: 1px solid rgb(91, 194, 231);
  border-radius: 6px;
  cursor: pointer;
}

.btn-alt {
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border-color: transparent;
  color: rgb(91, 194, 231);
}

.btn:hover {
  background-color: rgb(47, 177, 224);
  border-color: rgb(47, 177, 224);
}

.btn-alt:hover {
  background-color: rgb(228, 233, 238);
  border-color: transparent;
}
